@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .backImage {
    background: linear-gradient(71deg,#ca6e93 19.35%, #e99fbd  90.12%);
    @apply bg-cover h-screen flex justify-center items-center font-montserrat ;
  }

  .form{

    @apply flex flex-col text-left p-3 gap-5
  }

  .input{
    @apply  bg-slate-100 p-3 rounded-[2px] border-gray-500 outline-pink-400 ;
}

.login-btn{
    @apply bg-pink-700 w-[50%] h-[35px] m-auto text-white
}


.about{
 @apply  flex  justify-center items-center m-[4rem] 

}

.aboutDiv{

  border: 2px solid rgb(209, 205, 205);
  box-shadow: 2px 10px 10px 3px rgba(131, 87, 141, 0.1); 
  height: 230px;
  width: 50%;
  margin: 20px;
  background: #bdc7caad;
  @apply flex flex-col  justify-center items-center p-3 rounded-[40px] line-clamp-4

}

.card-div{
  @apply mt-6 grid grid-cols-2 md:grid-cols-4 gap-x-6 gap-y-10 xl:gap-x-8;
}
.container {
 @apply mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8;
}



}

@layer base{
body{
  @apply bg-gray-200
}

}

